/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 0rem;
  color: #5a5a5a;  
}

/*
CUSTOMIZE THE NAV
-------------------------------------------------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel h1{  
  font-size: 5em;
  color: #01B1ED;
  text-shadow: 2px 2px #4C0BCE;
}

.carousel h3{    
  font-size: 1.8em;
  color: #6A6A6A;  
  font-style: oblique;
}

/* @media carousel
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 599px){
  .carousel-item {
    height: 14rem;
  }

  .carousel h1 {
    font-size: 1.6em;  
    color: #01B1ED;
    text-shadow: 1px 1px #4C0BCE;  
  }

  .carousel h3 {
    /*font-size: 0.8em;  */
    display: none;
  }

  .carousel .btn {
    font-size: 0.8em;
  }
}

@media (min-width: 600px) and (max-width: 767px){
  .carousel-item {
    height: 20rem;
  }

  .carousel h1 {
    font-size: 1.8em;  
    color: #01B1ED;
    text-shadow: 1px 1px #4C0BCE;  
  }

  .carousel h3 {
    font-size: 1em;
  }

  .carousel .btn {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .carousel-item {
    height: 25rem;
  }

  .carousel h1 {
    font-size: 2.2em;  
    color: #01B1ED;
    text-shadow: 1px 1px #4C0BCE;  
  }

  .carousel h3 {
    font-size: 1.4em;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- 
Bump up size of carousel content 
@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
*/
/* Jumbotron home
------------------------- */
.title-home h2
{
  font-size: 3.5em;
  color: #01B1ED;
  text-shadow: 1px 1px #4C0BCE;
}

.title-home p
{
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.4;
}

/* @media title-home
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 599px){
  .title-home h2
  {
    font-size: 2.2em;
    color: #01B1ED;
    text-shadow: 1px 1px #4C0BCE;
  }

  .title-home p
  {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
  }
}

.jumbotron-one {
  background-color: #e9ecef;  
  background: #000064;  /* old browsers fallback color*/
  background: -webkit-linear-gradient(to right, #1BADD8, #00003E);  
  background: linear-gradient(to right, #1BADD8, #00003E); 
}

.jumbotron-one h1
{
  padding-top: 40px;
  font-size: 4em;
}

.jumbotron-one p
{
  font-size: 1.6em;
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1em;
}

 .jumbotron-two{
    padding-top: 15px;
  }

/* @media jumbotron-one
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 767px){   
  .jumbotron-one h1
  {
    font-size: 2.8em;    
  }

  .jumbotron-one p
  {
    font-size: 1.3em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 1em;
  }
}

@media (min-width: 768px) and (max-width: 912px){   
  .jumbotron-one h1
  {
    font-size: 1.5em;    
  }

  .jumbotron-one p
  {
    font-size: 1em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 0.9;
    padding-bottom: 1em;
  }
}

@media (min-width: 913px) and (max-width: 1024px){   
  .jumbotron-one h1
  {
    padding-top: 25px;
    font-size: 2.4em;
  }

  .jumbotron-one p
  {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1224px){   
  .jumbotron-one h1
  {
    padding-top: 35px;
    font-size: 2.6em;
  }

  .jumbotron-one p
  {
    font-size: 1.3em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 1em;
  }
}

@media (min-width: 1225px) and (max-width: 1410px){   
  .jumbotron-one h1
  {
    padding-top: 38px;
    font-size: 3.5em;
  }

  .jumbotron-one p
  {
    font-size: 1.4em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 1em;
  }
}
/*Accordion home
------------------------- */
.accordion-price h1
{  
  font-size: 2.1em;
  color: #5a5a5a;
  line-height: 1.2; 
  margin-bottom: 0.5em;
}

.accordion-price p
{
  font-size: 1.4em;
  margin-top: 0;
  line-height: 1.3;
}

.accordion-faq button
{  
  font-size: 0.6em;
  font-weight: bold;
}

.accordion-faq p
{
  font-size: 1.1em;
  margin-top: 0;
  line-height: 1.1em;
}

/* @media accordion-price
-------------------------------------------------- */
@media (min-width: 320px) and (max-width: 767px){

  .accordion-price h1
  {  
    font-size: 1.8em;
    color: #5a5a5a;
    line-height: 1.3; 
    margin-bottom: 0.5em;
  }

  .accordion-price p
  {
    font-size: 1.4em;
    margin-top: 0;
    line-height: 1.2;
  }  
  .accordion-faq{
    padding-top: 15px;
  }
  
  .accordion-faq p
  {
    font-size: 1em;
    margin-top: 0;
    line-height: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px){

  .accordion-price h1
  {  
    font-size: 1.5em;
    color: #5a5a5a;
    line-height: 1.3; 
    margin-bottom: 0.5em;
  }

  .accordion-price p
  {
    font-size: 1.3em;
    margin-top: 0;
    line-height: 1.2;
  }
}

/*Accordion home
------------------------- */
.course-body{
  padding-top: 15px;
  padding-bottom: 15px;
}

.newsletter {
  color: white;
  background: #000064;  /* old browsers fallback color*/
  background: -webkit-linear-gradient(to right, #1BADD8, #4B1184);  
  background: linear-gradient(to right, #1BADD8, #4B1184);  
  position: relative;
}

.newsletter a {
  color: white;
}

.footer-services{
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 0 0 100px 0;
  overflow: hidden;  
}

/* typewriter 
------------------------- */
.typewriter {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 14em;
  padding-bottom: 10em;
}

.typewriter p
{  
  font-size: 2.4em;
  color: #4B1184;
  padding-left: 4em;
  padding-right: 4em;
}

/* typewriter @media
------------------------- */
@media (min-width: 320px) and (max-width: 767px){  
  .typewriter p
  {  
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px){  
  .typewriter p
  {  
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
} 

@media (min-width: 768px) and (max-width: 912px){ 
  .typewriter p
  {  
    font-size: 2.2em;
    padding-left: 1em;
    padding-right: 1em;
  }
}